*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body
{
    background: url("image/background.jpg"); 
    color: #ededed;
}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #051129;
    display: flex;
    Justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor:default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar a{
    display: inline-block;
    font-size:25px;
    color: #fff;
    text-decoration:none;
    font-weight: 500;
    margin-left:35px;
    transition:.3s;
    opacity: 0;
    animation:slideTop.5s ease forwards;
    animation-delay: calc(.2s * varO(--i)) ;
}
.navbar a:hover{
    color:#0ef;
}
.home img{
    background-color: #0ef;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 30px #0ef ;
    filter: brightness(1.1);
    transition: .4s ease-in-out;
    animation: animate 2.5s ease-in-out forwards infinite;
}
.home img:hover{
    box-shadow: 0px 0px 50px #0ef;
}
.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url("image/background.jpg") no-repeat;
    background-size: cover;
    background-position: center; 
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content {
max-width: 600px;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3 span{
    color: #0ef;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content h2{
    margin-top: 20px;
    font-size: 30px ;
    font-weight: 900;
}
.home-content span{
    color: #0ef;
    position: relative;
}
.home-content span:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0px;
    height: 100%;
    border-left: 4px solid #0ef;
    background-color: #0e0e57;
    animation: text 3s infinite backwards steps(10);
}
@keyframes text{
    0%{
        left: 0;
    }
    50%{
        left: 100%;
    }
    100%{
        left: 0;
    }
}
.home-content p{
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.home-sci a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0;
}
.home-sci a:hover{
    background: #0ef;
    color: #081b29 ;
    box-shadow: 0 0 20px #0ef;
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background:#0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081629;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}
.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan, 
    0 0 100px cyan, 0 0 200px cyan
}

@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
.about{
    display: flex;
    justify-content: space-around;
    margin: 100px 150px;
    gap: 60px;
    padding-top: 100px;
    color: white;
}
.about-img  img{
    background-color: #0ef;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 30px #0ef;
    filter: brightness(1.1);
    animation: animate1 2.5s ease-in-out forwards infinite;
}

@keyframes animatel{
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
}
.about-section{
    margin-bottom:30px;
}
.about-section h2{
    font-size: 50px;
}
.about-section span{
    color: #0ef;
}
.about-section p{
    margin-top: 15px;
    font-size: 20px;
}
.about_btn{
    padding: 13px 25px;
    font-size: 20px;
    background-color: #0ef;
    margin-top: 25px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px #0ef;
    border: none;
    cursor: pointer;
}


h1.service_section{
    margin-top: 15rem;
    color: white;
    font-size: 50px;
    padding-top: 100px;
    text-align: center;
}
.service_section span{
    color: #0ef;
}
div.card{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    text-align: justify;
    margin: 70px;
    color: white;
}
.serivce_card{
    background-color: rgb(48, 48, 48);
    padding: 30px;
    border-radius: 10px;
    transition: .5s ease;
}
.serivce_card:hover{
    border: 2px solid #0ef;
    background-color: #0ef;
    transform: translateY(-20px);
}
.serivce_card i{
    font-size: 40px;
    color: #0ef;
}
.serivce_card h2{
    font-size: 40px;
    margin-top: 10px;
}
.serivce_card p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.serivce_card a{
    font-size: large;
    color: #0ef;
}

/* responsive serivce section */

@media screen and (max-width:820px){
    h1.service_section{
        font-size: 35px;
        margin-bottom: -40px;
    }
    .card{
        grid-template-columns: 1fr;
        flex-wrap: wrap;
    }
    .serivce_card {
        margin-top: 20px;
    }
    .serivce_card h2{
        font-size: 25px;
    }
}
h1.project-section{
    margin-top: 15rem;
    color: white;
    font-size: 50px;
    padding-top: 100px;
    text-align: center;
}
h1.project-section span{
    color: #0ef;
}
div.box{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    text-align: justify;
    margin: 70px;
}
.photo img{
    border-radius: 10px;
    gap: 20px;
    border: 2px solid #0ef;
}
.photo img:hover{
    box-shadow: 0px 0px 50px #0ef;
}
div.text{
    
    align-items: center;
    justify-content: center;
    color: white;
}
div.text h1{
    text-align: center;
    align-items: center;
    font-size: 40px;
}
div.text p{
    font-size: 15px;
    margin-top: 10px;
    gap: 10px;
}


.contact{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background: url(image/background.jpg) no-repeat;
    background-size: cover;
    height: 80vh;
    background-position: center; 
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
    
}
.contact-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;
}
.contact-text h2 span{
    color: #0ef;
}
.contact-text h4{
    margin: 15px 0;
    color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight:600 ;
}
.context-text p{
    color:rgb(177, 177, 177) ;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    margin-bottom: 3rem;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list i{
    display: inline-block;
    color:#0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}
.contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}
.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition:  .5s ease;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.contact-icons i:hover{
    background: #0ef;
    columns: #000;
    box-shadow: 0 0 20px #0ef;
}

.contact-form form{
    position: relative;
}
.contact-form form input,form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form textarea{
    resize: none;
    height: 220px;
}
.contact-form form .send{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation:slideTop 1s ease forwards ;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
    
}
.contact-form form .send:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}
